body {
    background-image: url("../images/disco.jpg");
}

.content {
    background-color: #d59392;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70";
    filter: alpha(opacity=70);
    opacity:.7;
    width:100%;
    height:100%;
}
.admin-link{
    background-color: #080808;
    display:block;
    height: 20px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 10px 10px darkgray ;
    padding:5px;
    text-decoration:  none;
    font-size: 15px;
    font-family:GEORGIA;
    float: left;
    margin: 2px;
}

.admin-link a:link {
    color: #FFFFFF;
    text-decoration: none;
}
.admin-link a:visited {
    text-decoration: none;
    color: #f89406;
}
.admin-link a:hover {
    text-decoration: underline;
    color: #33eeee;
}

/* footer */

#footer {
    margin:auto;
    width:70%;
}

/* footer navigation */

#footer_navigation ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#footer_navigation ul li { display: inline; }

#footer_navigation ul li a
{
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: darkgray;
}

#footer_navigation ul li a:hover
{
    color: #fff;
    background-color: lightgray;
}