body {
    font-family: arial;
}
.cell {

    min-width: 300px;
    background: darkslategray;
    border: 2px solid #c0c0c0;
    height: 75px;
    text-align: left;
    color: #ffffff;
    margin: 1px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    padding : 1px 1px 5px 5px;;

    background-image: linear-gradient(bottom, rgb(29,31,36) 2%, rgb(101,104,110) 56%, rgb(124,129,138) 78%);
    background-image: -o-linear-gradient(bottom, rgb(29,31,36) 2%, rgb(101,104,110) 56%, rgb(124,129,138) 78%);
    background-image: -moz-linear-gradient(bottom, rgb(29,31,36) 2%, rgb(101,104,110) 56%, rgb(124,129,138) 78%);
    background-image: -webkit-linear-gradient(bottom, rgb(29,31,36) 2%, rgb(101,104,110) 56%, rgb(124,129,138) 78%);
    background-image: -ms-linear-gradient(bottom, rgb(29,31,36) 2%, rgb(101,104,110) 56%, rgb(124,129,138) 78%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(29,31,36)),
        color-stop(0.56, rgb(101,104,110)),
        color-stop(0.78, rgb(124,129,138))
    );
}

.cell-image {
    float: left;
    background: gray;
    border: 2px solid #c0c0c0;
    height: 70px;
    width: 70px;
    border-radius: 2px;
    box-shadow: 3px 3px 10px black;
    padding : 1px 1px 1px 1px;
}

.cell-title {
    min-width: 375px;
    display: block ;
    position:absolute;
    margin-left: 100px;
    margin-top:10px;
    font-family: georgia;
    font-size: 16px;
    font-weight: bold;
}
.cell-subtitle {
    min-width: 300px;
    display: block ;
    position: absolute;
    margin-left: 100px;
    margin-top: 35px;
    font-size:12px;
}

.cell-description{
    min-width: 300px;
    display: block ;
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
    font-size:14px;
}
.cell-next {
    float: right;
    background-image: url('arrow_right_round.png');
    background-size: contain;

    height: 40px;
    width: 40px;

    margin-top: 20px;
    margin-right:2px;

}


/* header - cell */
.header-cell {
    background : #333333;
    height: 80px;
    weidth: 375px;
    color: white;
    border : none;
}
.header-cell-image {
    float: left;
    height: 75px;
    width: 75px;

}

.header-cell-title{
    display:block;
    position: absolute;
    margin-left: 100px;
    margin-top: 10px;
    font-family: georgia;
    font-weight: bold;
    font-size: 20px;
}

.header-cell-subtitle{
    display:block;
    position: absolute;
    margin-left: 100px;
    margin-top: 35px;
}

.header-cell-description{
    display:block;
    position: absolute;
    margin-left: 100px;
    margin-top: 55px;
    font-size: 12px;
}

.view {
    background-color: #0f0f0f;
    color: white;
    padding: 20px;
    text-align: center;
}
.view .title {
    font-family: georgia;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.view .subtitle {
    font-family: georgia;
    font-size: 12px;
    padding: 2px;
}

.view .image {
    padding: 5px;
}

.view .description {
    font-family: georgia;
    font-size: 12px;
    padding: 2px;
    text-align: left;
}

